/**
 * Node Form CSS
 */
form#node-form div.availability-calendar-date-widget .form-item {
  margin:0 0 0 10px;
  float:left;
}

form#node-form div.availability-calendar-date-widget label {
  font-size:10px;
}

form#node-form input.availability-calendar-date-field-from,
form#node-form input.availability-calendar-date-field-to {
  width:100px !important;
}

form#node-form input.availability-calendar-status-field {
  max-width:200px !important;
}

form#node-form div.availability-calendar-preview {
  display:block;
  width:100%;
  clear:both;
}

form#node-form input.availability-calendar-reset-field {
  margin-top:2%;
  float:right;
  clear:right;
}

/**
 * Calendar CSS
 */

div.availability-calendar-month {
  margin:5px;
  padding:10px 10px 0 10px;
  width:46%;
  float:left;
  font-size:.7em;
  min-height:225px;
  border: 1px solid #CCC;
}

div.availability-calendar-month td.unavailable {
  background: #ff0000;
}

div.availability-calendar-month td.available {
  background: #33CC33;
}
